<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="fxm.Hello_World.actionSet">
         <menu
               label="我的地盘"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="子菜单1"
               icon="icons/sample.gif"
               class="fxm.hello_world.actions.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="fxm.hello_world.actions.SampleAction">
         </action>
         <action
               label="子菜单2"
               icon="icons/sample.gif"
               class="fxm.hello_world.actions.MailAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="fxm.hello_world.actions.MailAction">
         </action>
      </actionSet>
   </extension>

</plugin>
